.text {
  text-align: center;
  margin-block-end: 40px;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-block-end: 80px;
}

/* 偶数番をひっくり返す */
.list:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  width: 240px;
  height: auto;
  border-radius: var(--border-radius);
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.position {
  margin-block-end: 8px;
}

.profile {
  font-size: 0.9rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--color-border);
  padding-block-start: 40px;
  text-align: center;
  gap: 24px;
}

.message {
  font-size: 2rem;
  font-weight: bold;
}

.empty {
  margin-block-end: 40px;
}
